library/
local/
cellar/
lock/
python/
staging/
.Rproj.user
.Rhistory
.RData
*.Rproj
inst/shiny/epidcm/rsconnect/
inst/shiny/epiicm/rsconnect/
inst/shiny/epinet/rsconnect/
.DS_Store
src/*.o
src/*.so
src/*.dll
*.rda
inst/EpiModel2/*.pptx
inst/EpiModel2/*.xlsx
vignettes/Intro.html
vignettes/Intro.R
*.html
tests/*.pdf
tests/testthat/Rplots.pdf
inst/doc
/doc/
/Meta/
.Rprofile
docs
