language: r
sudo: false
cache: packages

r:
  - release
  - devel

warnings_are_errors: true

notifications:
  email:
    on_success: never
    on_failure: change

after_success:
  - Rscript -e 'covr::coveralls()'
