
/* Main body width 
@media (min-width: 1000px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 700px;
  }
}
*/

/* Main body/section formatting */
body {
   font-family: Helvetica, Arial, sans-serif;
   padding: 5px 0px 15px 30px;
   color: #282828;
   font-weight:400;
   margin: 5px auto 5px auto; 
   width: 750px;
}
p {
  padding: 0px 0px 0px 0px;
}
h1 { 
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size:2.7em; 
   padding: 0px 0px 0px 0px;
}
h2 { 
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size:2.1em; 
   padding: 30px 0px 0px 0px;
   line-height:100%;
}
h3 { 
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size:1.5em; 
   padding: 20px 0px 0px 0px;
   line-height:100%;
}
h4 { 
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size:1.3em; 
   padding: 0px 0px 10px 0px;
}
h5 { 
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size:1.3em; 
   padding: 10px 0px 0px 0px;
}
h6 { 
   font-size:0.8em;
}


/* LINKS: unvisited, visited, hover, click */
a:link {
  color: #3c638b;
  font-weight: 500;
}
a, a:visited { 
  color: #3c638b;
  font-weight: 500;
}
a:hover {
  color: #738EAB;
  text-decoration: none;
  font-weight: 500;
}
a:active {
  color: #738EAB;
  font-weight: 500;
}


/* Table formatting */
table {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
}
td {
   font-family: Helvetica, Arial, sans-serif;
   padding: 5px 30px 15px 30px;
   color: #282828;
   font-weight: 300;
   font-size: 0.9em;
}
th {
  background-color: #D0D0D0 ;
}
tr:hover {
  background-color: #F0F0F0;
}
tr:first-child th {
  font-weight: 300;
  font-size: 1em;
}

/* Code chunks */
code.r, code.cpp {
   color: #383838 ;
}
pre code {
   color: #383838 ;
}
pre {  
   margin-top: 0;
   max-width: 100%;
   border: 1px solid #B8B8B8;
   background-color: #F0F0E9;
   white-space: pre-wrap;
   border-radius: 2px;
   box-shadow: 1px 1px 3px #707070;
}


/* Header formatting */
ul.headr {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.headr {
  float: left;
}
a.headr:link,a.headr:visited {
  display: block;
  width: 79px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #909090 ;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
a.headr:hover,a.headr:active {
  background-color: #738EAB ;
}
a.headrsel:link,a.headrsel:visited {
  display: block;
  width: 79px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #3c638b;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
a.headrsel:hover,a.headrsel:active {
  background-color: #3c638b ;
}

/* Images */
img {
  padding: 8px;
}
